.navbar{
    
    background-color: #fbbc04;

    height: 60px;
}
body{
    margin: 0 0;
    background-color: rgb(217, 221, 222);
    font-family: 'McLaren', cursive;
}
h2{
    margin: 0 0;
    color: white;
    padding-top: 14px;
    font-family: 'McLaren', cursive;
    padding-left: 25px;
}

h5{
    margin: 0 0;
}
.footer{
    position:fixed;
    margin-left: 45%;
    bottom: 0;
    color: grey;
    font-size: 20px;
    

}
p{
    margin: 0 0;
}
.note{
    margin:10px 25px;
    width: 200px !important;
    border-radius: 7px 7px;
    display: inline-block;
    padding: 8px 8px;
    background-color: white;
}
